body {
  margin: 0px;
}

#body-header {
  height: 65vh;
  background-image: url(image/backgroud_image.jpg);
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Horizontal-list*/

.horizontal-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 8px 8px 0px;
}
.horizontal-list li a {
  color: white;
  text-decoration: none;
  transition: color 0.5x, border-bottom 4s;
}
.horizontal-list li:hover {
  color: lightslategrey;
  border-bottom: 1px solid white;
}
.text-center {
  text-align: center;
}

/*Name and Social Icons*/

#name-social-container {
  margin-top: 20vh;
}

#my-name {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
